<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.swagger.api.dao.UserDAO">
    <insert id="insertUser" parameterType="com.example.swagger.api.dto.UserDTO">
        INSERT INTO TB_USR (
            USR_ID,
            KEYCLOAK_ID,
            LOGIN_NM,
            USR_NM,
            USR_TYPE_CD,
            USE_YN,
            CRTE_USR_ID,
            CRTE_DTTM
        ) VALUES (
            #{usrId},
            #{keycloakId},
            #{loginNm},
            #{usrNm},
            #{usrTypeCd},
            #{useYn},
            'SYSTEM',
            NOW()
        )
    </insert>
</mapper>
